AzureDataFactory/pipeline/realstate-pipeline.json
{
	"name": "realstate-pipeline",
	"properties": {
		"activities": [
			{
				"name": "lookupParamtersFromGitHub",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "GetParameters",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookupParamtersFromGitHub",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookupParamtersFromGitHub').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyDataFromDataSource",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dataSourceAPI",
									"type": "DatasetReference",
									"parameters": {
										"relative_path": {
											"value": "@item().relative_path",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LoadIntoDataLake00staging",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@concat(\n    '/',\n    item().folder_destination,\n    '/year=',\n    formatDateTime(utcNow(),'yyyy'),\n    '/month=',\n    formatDateTime(utcNow(),'MM'),\n    '/day=',\n    formatDateTime(utcNow(),'dd')\n)",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(\n    item().file_destination,\n    '_',\n    formatDateTime(utcNow(),'HHmm')\n)",
											"type": "Expression"
										},
										"container_name": {
											"value": "@item().container_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-21T15:26:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}